In [6]:
set = {"shahzad","ali","faisal","kamran"}
set1 =  {"almir","sajjal"}
print(set.union(set1))

{'sajjal', 'kamran', 'ali', 'almir', 'faisal', 'shahzad'}

In [ ]:
#   recursion function.  function  ko dobara call karna 
def show(a):
    if(a == 0):
       return
    show(a-1) 
    print(a)
show(5)

1
2
3
4
5

In [ ]:
# Recursion function function ko dobara call karna

def show1(a):
    if (a <= 10):
        return
    show1(a-1)
    print(a)
show1(20)

11
12
13
14
15
16
17
18
19
20

In [24]:

# enumerate function

list = ["shahzad","ali","faisal","jahanzaib","gulam"]

for index,list in enumerate(list):
    if list == "gulam":
      print(index,"welcome",list)

4 welcome gulam

In [27]:

t = (1, 2, 3, 4, 5, 6,)

for index,t in enumerate(t):
     if t == 5:
       print( index, "welcome shoaib")

4 welcome shoaib

In [32]:
d = {"name":"shahzad",
     "roll":56,
    "city":"karachi"}

for index, (key, value) in enumerate(d.items()):
    if key == "roll" and value == 56:
      print(index,"shahzad u pass the exam")

1 shahzad u pass the exam

In [7]:
h = 5 
h1 = 10

print("a") if h == h1  else print("helo ") if h > h1 else   print("zero")

zero

In [15]:
furite = ["apple","orange","banana","stewberry"]
for index,furite in enumerate(furite):
    print(index,furite)

0 apple
1 orange
2 banana
3 stewberry

In [23]:
a = 10
b = 20
print("almir is masoom") if a < b else print("aroosh is shetan")

almir is masoom

In [1]:
for i in range(1):
    print(i)
if i == 1:
    i = i + 1
print(i)

0
0

In [1]:
set = {"shahzad","ali","faisal","kamran"}
set.remove("kamran")
print(set)

{'faisal', 'shahzad', 'ali'}

In [3]:
def foc(n):
    if (n == 0):
     return  1
    else:
     return n * foc(n - 1)
foc(5)

120

In [13]:
foc: int = 5  # The number to calculate factorial for
result: int = 1  # Initialize result to 1

# Loop from 1 to foc (inclusive)
for i in range(1, foc + 1 ): 
    result *= i  # Multiply result by the current number (i)

print(result)  # Output the factorial

120

In [24]:
fac:int = 5  # is number ka factorial nikalna hai
i: int = 1 
# result: int = 1
while i  <= foc:
   i  *= i 
   i += 1
print(result)

120

In [8]:
set = {"ali","shahzad","faisal"}
set1 = {"junaid","shahzad"}
print(set.intersection(set1))

{'shahzad'}

In [ ]:
def greet(name,name1,name2):
    """"This is for my special friends"""
    print(f"welcome {name} how r u how is your day going\n welcome {name1} how r u how is your day going\n welcome {name2} how is your is your day going")
greet("shahzad","shoaib","sajjad")

print(greet.__doc__)

welcome shahzad how r u how is your day going
 welcome shoaib how r u how is your day going
 welcome sajjad how is your is your day going
"This is for my special friends

In [2]:
list = ["shahzad","shoiab","faisal","ali","junaid","almir","irham"]
for i in list:
    print(i)

shahzad
shoiab
faisal
ali
junaid
almir
irham

In [9]:
dict = {"name":"shahzad", "rollno": 746, "city":"karachi",}
for key, value in dict.items():
    print(f"{key}:{value}")

name:shahzad
rollno:746
city:karachi

In [18]:
tuple = ("shahzad","shahzad","shoiab","faisal")
for i in tuple:
    print(i)
tuple.count("shahzad")

shahzad
shahzad
shoiab
faisal

2

In [23]:
user = int(input("enter your table number u want to print"))

for i in range(1,11):
   print(f"{user} x {i} = {user * i}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [1]:
user = int(input("enter your number"))
a = 1 
while a <= 10:
     print(f"{user} x {a} = {user * a}")
     a = a + 1

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [9]:
set = {"shahzad","ali","faisal","kamran"}
set1=set.copy()
print(set)
print(set1)

{'faisal', 'shahzad', 'ali', 'kamran'}
{'faisal', 'shahzad', 'ali', 'kamran'}

In [10]:
set = {"shahzad","ali","faisal","kamran"}
set.clear()
print(set)

set()

In [11]:
set = {"shahzad","ali","faisal","kamran"}
set.pop()
print(set)

{'shahzad', 'ali', 'kamran'}

In [12]:
set = {"shahzad","ali","faisal","kamran"}
set.discard("ali")
print(set)

{'faisal', 'shahzad', 'kamran'}

In [13]:
set = {"shahzad","ali","faisal"}
set.add("kamran")
print(set)

{'faisal', 'shahzad', 'ali', 'kamran'}

google colab