In [2]:
set = {"shahzad","ali","faisal","kamran"}
set1 =  {"almir","sajjal"}
print(set.union(set1))

{'almir', 'faisal', 'ali', 'sajjal', 'kamran', 'shahzad'}

In [2]:
frozen_set = frozenset([11, 2, 3, 4, 4, 5])
#frozen_set = frozenset(my_set)
print(type(frozen_set), " frozen_set = ", frozen_set)

<class 'frozenset'>  frozen_set =  frozenset({2, 3, 4, 5, 11})

In [4]:
byte_array: bytearray = bytearray([65, 66, 67, 69]) #65=A, 66=B ....decimal number system
print(type(byte_array), " byte_array = ", byte_array)  # 
print(byte_array[0])
print(chr(byte_array[0]))
print("Empty bytearray(): ",bytearray())

<class 'bytearray'>  byte_array =  bytearray(b'ABCE')
65
A
Empty bytearray():  bytearray(b'')

In [2]:
x = 5

x -= 3  # Equivalent to x = x - 3
print("Subtraction Assignment: x -= 3       ",x)  # Output: 5

Subtraction Assignment: x -= 3        2

In [32]:
class Student:
    def __init__(self,name,age): #constrator
    
        self.name =name
        self.age = age

Student1 = Student ("shahzad",30)
print(Student1.name)
print(Student1.age)

Student2 = Student("ali",42)
print(Student2.name)
print(Student2.age)

shahzad
30
ali
42

In [10]:
class Person:
    def __init__(self,user_name,user_age,user_rollno):
        self.name = user_name
        self.age = user_age
        self.__rollno = user_rollno
        self.transportation = ["car","bike","bus"]

    def get_rollno(self):
        return self.__rollno
# 1 inheritence child ko  verasat  may milna 
# 2 polymorphism 
# 3 abstraction: userko otni imformation dena jitni user no cheyah
# 4 Encapsulation: MEANS HIDE KARNA ANY ONE CANT REACH example(__rollno)

#instance
p1 = Person("shahzad",32,1234)
print(p1.name)
print(p1.get_rollno())

person2 = Person("shoaib",23,4321)
print(person2.name)

shahzad
1234
shoaib

In [ ]:
class Math:  #polymorphism 
    def add(self, a, b):
        return a + b

    def add(self, a, b, c):  # Overloaded method 
        return a + b + c

obj = Math()
print(obj.add(2, 3, 4))  # Output: 9

9

In [22]:
class Person:
   def putdata(self):
     self.id = int(input("enter id"))
     self.name = input("enter name")
     self.salary = float(input("enter salary"))
        
   def display(self):
      print(self.id)
      print(self.name)
      print(self.salary)

q = Person()
q.putdata()
q.display()

12345
shahzad
70000.0

In [2]:
numbers = [23,32,64]
average = sum(numbers)
print(average)

119

In [3]:
class Father:
    def __init__(self, age):
        self.__age = age  # Private attribute

    def show_age(self):  # Method to access private attribute
        return f"Age: {self.__age}"

p1 = Father(45)
print(p1.show_age())  # Expected output: "Age: 45"

Age: 45

In [3]:
import calendar
year = 2025
month = 1 
print(calendar.month(year,month))

    January 2025
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [2]:
#   recursion function.  function  ko dobara call karna 
def show(a):
    if(a == 0):
       return
    show(a-1) 
    print(a)
show(5)

1
2
3
4
5

In [65]:
# Recursion function function ko dobara call karna

def show1(a):
    if (a <= 10):
        return
    show1(a-1)
    print(a)
show1(20)

11
12
13
14
15
16
17
18
19
20

In [24]:

# enumerate function

list = ["shahzad","ali","faisal","jahanzaib","gulam"]

for index,list in enumerate(list):
    if list == "gulam":
      print(index,"welcome",list)

4 welcome gulam

In [27]:

t = (1, 2, 3, 4, 5, 6,)

for index,t in enumerate(t):
     if t == 5:
       print( index, "welcome shoaib")

4 welcome shoaib

In [32]:
d = {"name":"shahzad",
     "roll":56,
    "city":"karachi"}

for index, (key, value) in enumerate(d.items()):
    if key == "roll" and value == 56:
      print(index,"shahzad u pass the exam")

1 shahzad u pass the exam

In [7]:
h = 5 
h1 = 10

print("a") if h == h1  else print("helo ") if h > h1 else   print("zero")

zero

In [15]:
furite = ["apple","orange","banana","stewberry"]
for index,furite in enumerate(furite):
    print(index,furite)

0 apple
1 orange
2 banana
3 stewberry

In [23]:
a = 10
b = 20
print("almir is masoom") if a < b else print("aroosh is shetan")

almir is masoom

In [62]:

for i in range(7):
  print(i)
if i == 1:
        i = i + 1
print(i)

0
1
2
3
4
5
6
6

In [1]:
set = {"shahzad","ali","faisal","kamran"}
set.remove("kamran")
print(set)

{'faisal', 'shahzad', 'ali'}

In [50]:
def foc(n):
    if (n == 0):
     return  1
    else:
     return n * foc(n - 1)
foc(5)

120

In [ ]:
foc: int = 5  # The number to calculate factorial for
result: int = 1  # Initialize result to 1

# Loop from 1 to foc (inclusive)
for i in range(1, foc + 1 ): 
    result *= i  # Multiply result by the current number (i)

print(result)

120

In [24]:
fac:int = 5  # is number ka factorial nikalna hai
i: int = 1 
# result: int = 1
while i  <= foc:
   i  *= i 
   i += 1
print(result)

120

In [5]:
list = [1,2,3,4,5,6,7]
list1 = list
 
print(list is list1)

True

In [8]:
set = {"ali","shahzad","faisal"}
set1 = {"junaid","shahzad"}
print(set.intersection(set1))

{'shahzad'}

In [ ]:
# list comprehension

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [49]:

# generator
fruits = ["apple","banana","orange","kiwi"]

def my_gen():
  for i in fruits:
    yield i
gen = my_gen()
print(gen)
print(next(gen))
print(next(gen))

<generator object my_gen at 0x00000161DEEAAA40>
apple
banana

In [ ]:
def greet(name,name1,name2):
    """"This is for my special friends"""
    print(f"welcome {name} how r u how is your day going\n welcome {name1} how r u how is your day going\n welcome {name2} how is your is your day going")
greet("shahzad","shoaib","sajjad")

print(greet.__doc__)

welcome shahzad how r u how is your day going
 welcome shoaib how r u how is your day going
 welcome sajjad how is your is your day going
"This is for my special friends

In [2]:
list = ["shahzad","shoiab","faisal","ali","junaid","almir","irham"]
for i in list:
    print(i)

shahzad
shoiab
faisal
ali
junaid
almir
irham

In [9]:
dict = {"name":"shahzad", "rollno": 746, "city":"karachi",}
for key, value in dict.items():
    print(f"{key}:{value}")

name:shahzad
rollno:746
city:karachi

In [18]:
tuple = ("shahzad","shahzad","shoiab","faisal")
for i in tuple:
    print(i)
tuple.count("shahzad")

shahzad
shahzad
shoiab
faisal

2

In [23]:
user = int(input("enter your table number u want to print"))

for i in range(1,11):
   print(f"{user} x {i} = {user * i}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [1]:
user = int(input("enter your number"))
a = 1 
while a <= 10:
     print(f"{user} x {a} = {user * a}")
     a = a + 1

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [9]:
set = {"shahzad","ali","faisal","kamran"}
set1=set.copy()
print(set)
print(set1)

{'faisal', 'shahzad', 'ali', 'kamran'}
{'faisal', 'shahzad', 'ali', 'kamran'}

In [10]:
set = {"shahzad","ali","faisal","kamran"}
set.clear()
print(set)

set()

In [11]:
set = {"shahzad","ali","faisal","kamran"}
set.pop()
print(set)

{'shahzad', 'ali', 'kamran'}

In [12]:
set = {"shahzad","ali","faisal","kamran"}
set.discard("ali")
print(set)

{'faisal', 'shahzad', 'kamran'}

In [13]:
set = {"shahzad","ali","faisal"}
set.add("kamran")
print(set)

{'faisal', 'shahzad', 'ali', 'kamran'}

google colab