In [ ]:
set = {"shahzad","ali","faisal","kamran"}
set1 =  {"almir","sajjal"}
print(set.union(set1))

{'sajjal', 'faisal', 'kamran', 'almir', 'shahzad', 'ali'}

In [ ]:
set = {"shahzad","ali","faisal","kamran"}
set.remove("kamran")
print(set)

{'faisal', 'shahzad', 'ali'}

In [ ]:
set = {"shahzad","ali","faisal","kamran"}
set1=set.copy()
print(set)
print(set1)

{'faisal', 'kamran', 'shahzad', 'ali'}
{'faisal', 'kamran', 'shahzad', 'ali'}

In [ ]:
set = {"shahzad","ali","faisal","kamran"}
set.clear()
print(set)

set()

In [ ]:
set = {"shahzad","ali","faisal","kamran"}
set.pop()
print(set)

{'kamran', 'shahzad', 'ali'}

In [ ]:
set = {"shahzad","ali","faisal","kamran"}
set.discard("ali")
print(set)

{'faisal', 'kamran', 'shahzad'}

In [ ]:
set = {"shahzad","ali","faisal"}
set.add("kamran")
print(set)

{'faisal', 'kamran', 'shahzad', 'ali'}

google colab